# Dependencies
node_modules
jspm_packages

# Serverless
.serverless

# Dynamodb
.dynamodb

# Webpack
.webpack

# Output
dist

# Dotenv files
.env*.local

# Local folder
local

# testing
coverage

# Misc
.DS_Store
*.pem
Thumbs.db

# Error logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
